// Color Palette
$baseColor: #2B2D42;
$subColor: #8D99AE;
$contrastColor: #EDF2F4;
$weakAccentColor: #EF223C;
$strongAccentColor: #D90249;


$bodyBackgroundColor: $contrastColor;
$navBackgroundColor: $baseColor;
$navLogoColor: $contrastColor;

h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
}

p {
  
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  height: 100%;
  background-color: $baseColor;
}

nav {
  grid-area: header;
  display: flex;
  background-color: $navBackgroundColor;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  @media (min-width: 768px) {
    margin-bottom: -4px;
  }
  .logo {
    text-decoration: none;
    color: $navLogoColor;
    font-family: 'Rajdhani', sans-serif;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
    overflow: visible;
    font-size: 1.4rem;
    h1 {
      margin: 0;
      line-height: 1.8rem;
      border-bottom: 4px $weakAccentColor solid;
    }
  }
}

.pane {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12),
    0 3px 6px rgba(0, 0, 0, 0.24);
}

#slides {
  grid-area: slides;
  @media (min-width: 768px) {
      margin: 0px 0px 0px 16px;
  }
  margin: 0px 8px 0px 8px;
  background-color: $contrastColor;
}

#feed {
  grid-area: feed;
  @media (min-width: 768px) {
    margin: 0px 32px 0px 0px;
  }
  margin: 0px 8px 0px 8px;
  background-color: $contrastColor;
}

#input {
  grid-area: input;
  @media (min-width: 768px) {
    margin: 0px 32px 0px 0px;
  }
  margin: 0px 8px 0px 8px;
  display: grid;
  background-color: none;
  grid-template-columns: 75fr 25fr;
  grid-column-gap: 16px;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    "inputBox button"
    "inputBox button";
  textarea {
    padding: 16px 20px 16px 20px;
    grid-area: inputBox;
    background-color: $contrastColor;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12),
    0 3px 6px rgba(0, 0, 0, 0.24);
    outline: none;
    border: none;
    resize: none;
    font-family: 'Muli', sans-serif;
    font-size: 1.5rem;
  }
  .send {
    grid-area: button;
    background: $strongAccentColor;
    color: $contrastColor;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12),
    0 3px 6px rgba(0, 0, 0, 0.24);
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
  }
}

footer {
  grid-area: footer;
  @media (min-width: 768px) {
    margin-top: -4px;
  }
  background-color: $navBackgroundColor
}

#app {
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  display: grid;
  @media (min-width: 768px) {
    grid-gap: 16px;

    grid-template-columns: 50vw 50vw;
    grid-template-rows: 48px .7fr .25fr auto;
   
    grid-template-areas: 
      "header header" 
      "slides feed"
      "slides input"
      "footer footer";
  }
  grid-gap: 8px;
  grid-template-columns: 100%;
  grid-template-rows: 48px 1fr .75fr .5fr 30px;
  grid-template-areas : "header" "slides" "feed" "input" "footer";
  background-color: $subColor;
}

  .hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  right: 50%;
  bottom: 0px;
  background: $contrastColor;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

