<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#ffffff">
  <title>primequery</title>
  <link rel="stylesheet" type="text/css" href="../css/main.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Rajdhani:700" rel="stylesheet">
</head>

<body id="app">
  <nav class="pane">
    <a class="logo hvr-underline-from-center" href="./prof">
      <h1>primequery</h1>
    </a>
  </nav>
  <footer>

  </footer>
  <script src="https://use.fontawesome.com/104d9a8f78.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="./js/main.js"></script>
</body>

</html>