<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#ffffff">
  <title>primeQuery</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.min.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Rajdhani:700|Montserrat|Muli" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/104d9a8f78.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>

<body>
  <div id="app">
    <nav class="pane">
      <a class="logo hvr-underline-from-center" href="./student">
        <h1>primeQuery</h1>
      </a>
    </nav>
    <h2 class="slide-header pane" id="slideHeader">slides</h2>
    <div class="pane" id="slides">
      <!-- <iframe class="pdf-viewer" src="http://www.cs.cornell.edu/courses/cs3110/2017fa/l/06-hop/lec.pdf" width="640" height="480"></iframe> -->
      <iframe class="pdf-viewer" src="{{ url_for('static',filename='pdf/test2.pdf') }}" width="640" height="480"></iframe>
    </div>
    <h2 class="feed-header pane" id="feedHeader">questions</h2>
    <div id="feed">
     <feed-entry v-for="(q, index) in questions" :key="q.text" 
     :counter="q.counter" :question="q.text" :index="index"
     @increment="incrementCounter(index, q.counter+1)"></feed-entry>
    </div>

    <div id="input">
      <div class="question-input">
            <textarea rows="4" placeholder="Confused about something? Click here to ask a question! (Don't worry. You'll stay anonymous)." v-model="newQuestionText" v-on:keyup.enter="addNewQuestion"></textarea>
      </div>
 
      <button class="pane send" v-on:click="addNewQuestion">ask</button>
    </div>

  </div>

</body>

</html>